pandas==2.1.1
numpy==1.26.4
scikit-learn==1.3.1
joblib==1.3.2
xgboost==3.2.0
holidays==0.95
shap==0.49.1
matplotlib==3.10.8
openmeteo_requests==1.7.5
requests-cache==1.3.1
retry-requests==2.0.0
pytrends==4.9.2
